<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media:'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
    <%
    # render:viewでの使用法は部分テンプレート(particial)を呼び出すときである.
    # particial:そのまま書くと長くて全体の可読性が損なわれる..., 何度も繰り返して使いたい！ときに使うもの.
    #           再利用したい部品が書かれているものと理解.
    # 注意点はファイルの命名である. particialファイルの名前は最初「 _ 」から始める。
    # そして, 呼び出し側では「 _ 」を取って呼び出す. 下記では_shimというparticialを呼び出している.
     %>
    <%= render "layouts/shim" %>
  </head>

  <%
  # 以下, 表示される要素(つまりbodyタグ)を記述していく
  # header: 上部の要素を表す(particialに記載)
  # div: 表示領域を表す
   %>

  <body>
    <%= render "layouts/header" %>

    <% # containerもBootStrapで識別するためのCSSクラスの部品名 %>

    <div class="container">

      <% # flashのメッセージをレイアウトに加える.ここに加えることで, サイト全体に適応される. %>

      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <% # particialのfooterを呼び出し %>
      <%= render "layouts/footer" %>
      <% # 開発環境のときのみデバック用の変数を表示する. %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
